<header class="masthead">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top nav-masthead">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to image_tag("home_logo.png"), root_path, class: "navbar-logo", id: "navbar-logo-id" %>
      </div>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>
          <a class="nav-link" id="email"><%= fa_icon "envelope" %></a>
          <a href="https://www.linkedin.com/in/steven-dempsey-75103a38/" target="_blank" class="nav-link"><%= fa_icon "linkedin" %></a>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  document.getElementById("email").addEventListener("click", function(){
    navigator.permissions.query({name: "clipboard-write"}).then(result => {
      if (result.state == "granted" || result.state == "prompt") {
        navigator.clipboard.writeText("stevendempsey13@gmail.com");
      }
    });
  });
</script>
